body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
  transition: 1s;
}

.dark-mode {
  background-color: black;
  color: white;
  transition: 1s;
}

.dark-mode .card {
	background-color: white;
	color: black;
}

.light-mode {
	background-color: rgb(248, 255, 251);
	color: rgb(31, 31, 31);
	transition: 1s;
}

section{
	padding-top: 2cm;
	padding-bottom: 2cm;
}
