.hero-up{
  margin: auto;
  position: relative;
}

.text-success{
  font-weight: 600;
  font-size: 6em;
}

.hero-left {
  background-repeat: no-repeat;
  padding-left: 18px !important;
  background-size: 20%;
  background-position-y: 20%;
}


      
.footer{
  height: 50px;
}